{% load static %}
    <style>
        #footer{
            width: 100%;
            height: auto;
            background: #f4f4f4;
            position: absolute;
            top: end;
            left: 0;
        }

    </style>
    <footer id="footer">
        <div class="row d-md-flex justify-content-md-between">
            <div class="col-md-6">
                <h6 style="line-height: 40px;" class="bold text-center text-royal">CopyRight &copy; | All rights reserved</h6>
            </div>
            <div class="col-md-6">
                <ul class="nav d-flex justify-content-center">
                    <li class="nav-item">
                        <a href="#!" class="nav-link text-royal">Tutorials</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link text-royal">TradingView</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link text-royal"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link text-royal"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link text-royal"><i class="fab fa-youtube"></i></a>
                    </li>
                        <a href="#!" class="nav-link text-royal"><i class="fab fa-telegram-plane"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
